body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  font-weight: bold;
  font-size: 54px;
  padding: 1.2em 1.2em 1.6em 1.2em;
  /* background: url() repeat scroll center center / cover #F0F0F0; */
}

header small {
  font-weight: normal;
  font-size: 0.6em;
  color: #808080;
}
