@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

body {
  margin: 0px;
}

header {
  background: #fc9;
  font-family: 'Raleway';
  font-size: 48px;
  padding: 1.2em 1.2em 1.6em;
}

.topbar-title {
  font-size: 36px;
  padding-bottom: 0.6em;
}

.topbar-tagline {
  font-size: 24px;
  color: #a74;
}

main {
  padding-top: 2.4em;
}

.content-title {
  font-size: 2em;
  font-family: 'Raleway';
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contents {
  padding-bottom: 4em;
  width: 80%;
  margin-left: 10%;
}

.in-button {
  background: #f87f05;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
}
