@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

body, .pure-g [class*="pure-u"] {
  margin: 0px;
  font-family: 'Raleway';
}

header {
  background: #fc9;
  font-size: 48px;
  padding: 1.2em 1.2em 1.6em;
}

.topbar-title {
  font-size: 36px;
  padding-bottom: 0.6em;
}

.topbar-tagline {
  font-size: 24px;
  color: #a74;
}

main {
  padding-top: 2.4em;
}

.content-title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contents {
  padding-bottom: 4em;
  width: 80%;
  margin-left: 10%;
}

.username {
  font-weight: bold;
}

.entry-title {
  font-size: 1.5em;
}

.timestamp {
  color: #999;
}

.entry-tag {
  border-radius: 2px;
  font-weight: bold;
  padding: 0px 0.5em;
}

.entry-taglist {
  font-size: 20px;
}

.inverse {
  color: white;
}

.in-button {
  background: #f87f05;
  font-weight: bold;
  color: white;
}

.in-input {
  font-size: 36px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1px;
}

.in-input:focus {
  border-bottom: 2px solid #fc9;
  padding-bottom: 0px;
}

#back-button {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

a {
  color: #44f;
  text-decoration: none;
}

hr {
  color: #eee;
  border-color: #eee;
}

.right-align {
  text-align: right;
}
